<app-header></app-header>

<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span>TECH CONSULTORIA</span>
      <h1>A consultoria que você busca para o seu software</h1>
    </div>
    <img ngSrc="./assets/principal.jpg" width="670" height="550" class="img">
  </section>
  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>95% das<br> empresas</h2>
    </div>
    <p>Não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições.</p>
  </section>
  <section class="cta-section">
    <app-btn-primary btn-text="Fale com nossos especialistas"></app-btn-primary>
  </section>
  <app-newsletter-form></app-newsletter-form>
  <section class="benefit-section pad-70">
    <app-benefit
    card-title="Equipe capacitada"
    img-path="./assets/team.png"
    card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."></app-benefit>
    <app-benefit
    card-title="Seus projetos guiados do zero"
    img-path="./assets/project-guide.png"
    card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."></app-benefit>
  </section>
  <section class="cta-section pad-70">
    <h2>Quer elevar seu negócio a outro nível?</h2>
    <app-btn-primary btn-text="Fale com nossos especialistas"></app-btn-primary>
  </section>
  <app-footer></app-footer>
</main>
